@model ApplicationUserViewModel
@{
    ViewData["Title"] = " | Manage Users";
}

<div class="container form-container">

    <h1 class="mb-2">Manager Users</h1>

    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th class="text-white">Username</th>
                <th class="text-white">Roles</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @if (Model.ApplicationUsers.Count() == 0)
            {
                <tr><td colspan="5" class="text-white">There are no user accounts.</td></tr>
            }
            else
            {
                @foreach (ApplicationUser user in Model.ApplicationUsers)
                {
                    <tr>
                        <td class="text-white">@user.UserName</td>
                        <td class="text-white">
                            @foreach (string roleName in user.RoleNames)
                            {
                                <div>@roleName</div>
                            }
                        </td>
                        <td>
                            <form method="post" asp-action="Delete" asp-route-id="@user.Id">
                                <button type="submit" class="btn btn-danger">Delete User</button>
                            </form>
                        </td>
                        @if (user.RoleNames.Contains("Admin"))
                        {
                            <td>
                                <form method="post" asp-action="RemoveFromAdmin" asp-route-id="@user.Id">
                                    <button type="submit" class="btn btn-outline-danger">Remove From Admin</button>
                                </form>
                            </td>
                        }
                        else
                        {

                            <td>
                                <form method="post" asp-action="AddToAdmin" asp-route-id="@user.Id">
                                    <button type="submit" class="btn btn-warning">Add To Admin</button>
                                </form>
                            </td>
                        }
                        @if (user.RoleNames.Contains("Suspended"))
                        {
                            <td>
                                <form method="post" asp-action="RemoveFromSuspended" asp-route-id="@user.Id">
                                    <button type="submit" class="btn btn-outline-danger">Remove From Suspended</button>
                                </form>
                            </td>
                        }
                        else
                        {
                            <td>
                                <form method="post" asp-action="AddToSuspended" asp-route-id="@user.Id">
                                    <button type="submit" class="btn btn-warning">Suspend User</button>
                                </form>
                            </td>
                        }

                    </tr>
                }
            }
        </tbody>
    </table>


</div>