@model Exercise
@{ 
    ViewBag.Title = "Exercise Details";
}

<div class="container form-container">

    <h1>@ViewBag.Id</h1>
    <p>Name: @Model.Name</p>
    <p>Created By: @Model.CreatedBy</p>
    <p>Exercise Type: @Model.ExerciseType</p>
    <p>Image: @Model.Image</p>
    <p>Is Public?: @Model.IsPublic</p>
    <p>Reps: @Model.Reps</p>
    <p>Weight: @Model.Weight</p>
    <p>Distance: @Model.Distance</p>
    <p>Video Link: @Model.Link</p>
    <p>Time: @Model.Time</p>
    <p>Note: @Model.Note</p>

</div>