@model Exercise
@{ 
    ViewBag.Title = "Exercise Details";
}

<div class="container form-container">

    <h1>@ViewBag.Id</h1>
    <p>Name: @Model.Name</p>
    <p>Created By: @Model.CreatedBy</p>
    <p>Exercise Type: @ViewBag.ExerciseType.Name</p>
    <p>Image: @Model.Image</p>
    <p>Is Public?: @Model.IsPublic</p>
    <p>Reps: @Model.Reps</p>
    <p>Weight: @Model.Weight</p>
    <p>Distance: @Model.Distance</p>
    <p>Video Link: @Model.Link</p>
    <p>Time: @Model.Time</p>
    <p>Note: @Model.Note</p>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="ExerciseId" />

        <button type="submit" class="btn btn-primary">Delete</button>
        <a asp-controller="Workout" asp-action="Edit" asp-route-id="@Model.ExerciseId" class="btn btn-primary">Edit</a>
        <a asp-controller="Workout" asp-action="ExerciseList" class="btn btn-primary">Cancel</a>
    </form>
</div>