@model Exercise

@{
    string title = ViewBag.Verb + " Your Exercise";
    ViewBag.Title = title;
}

<div class="container form-container">

    <h1>@ViewBag.Title</h1>

    <br />

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <form method="post" asp-action="Edit" asp-controller="Workout">


        <div class="row">
            <span asp-validation-for="Name" class="text-danger col offset-sm-2"></span>
        </div>
        <div class="form-group row">
            <div class="col-sm-2 text-right"><label>Name:</label></div>
            <div class="col-sm-7">
                <input asp-for="Name" class="form-control" />
            </div>
        </div>


        <div class="row">
            <span asp-validation-for="ExerciseTypeID" class="text-danger col offset-sm-2"></span>
        </div>
        <div class="form-group row">
            <label asp-for="ExerciseTypeID" class="col-sm-2 text-right">Exercise Type:</label>
            <select asp-for="ExerciseTypeID" class="col-sm-7 rounded ml-1 mr-5 ">
                <option value="">select an exercise type</option>
                @foreach (ExerciseType t in ViewBag.Types)
                {
                    <option value="@t.ExerciseTypeID">@t.Name</option>
                }
            </select>
        </div>


        <div class="row">
            <span asp-validation-for="Image" class="text-danger col offset-sm-2"></span>
        </div>
        <div class="form-group row">
            <div class="col-sm-2 text-right"><label>Image:</label></div>
            <div class="col-sm-7">
                <input asp-for="Image" class="form-control" value="@Model.Image" />
            </div>
        </div>


        <div class="row">
            <span asp-validation-for="Distance" class="text-danger col offset-sm-2"></span>
        </div>
        <div class="form-group row">
            <div class="col-sm-2 text-right"><label>Distance:</label></div>
            <div class="col-sm-7">
                <input asp-for="Distance" class="form-control" />
            </div>
        </div>


        <div class="row">
            <span asp-validation-for="Time" class="text-danger col offset-sm-2"></span>
        </div>
        <div class="form-group row">
            <div class="col-sm-2 text-right"><label>Time:</label></div>
            <div class="col-sm-7">
                <input asp-for="Time" class="form-control" />
            </div>
        </div>


        <div class="row">
            <span asp-validation-for="Reps" class="text-danger col offset-sm-2"></span>
        </div>
        <div class="form-group row">
            <div class="col-sm-2 text-right"><label>Reps:</label></div>
            <div class="col-sm-7">
                <input asp-for="Reps" class="form-control" />
            </div>
        </div>


        <div class="row">
            <span asp-validation-for="Weight" class="text-danger col offset-sm-2"></span>
        </div>
        <div class="form-group row">
            <div class="col-sm-2 text-right"><label>Weight:</label></div>
            <div class="col-sm-7">
                <input asp-for="Weight" class="form-control" />
            </div>
        </div>


        <div class="row">
            <span asp-validation-for="Note" class="text-danger col offset-sm-2"></span>
        </div>
        <div class="form-group row">
            <div class="col-sm-2 text-right"><label>Notes:</label></div>
            <div class="col-sm-7">
                <input asp-for="Note" class="form-control" />
            </div>
        </div>

        <input type="hidden" asp-for="ExerciseId" />
        <input type="hidden" asp-for="PlanId" value="@Model.PlanId" />


        <div class="row">
            <div class="offset-5 col-sm-7">
                <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
                <a asp-controller="Workout" asp-action="ExerciseList" class="btn btn-primary">Cancel</a>
            </div>
        </div>

    </form>


</div>