@model ExerciseListViewModel
@{
    ViewData["Title"] = "Build Your Exercise";
}

<h1><a asp-action="CreateExercise" class="btn btn-success">Add a new Exercise</a></h1>
<div class="row">
    <div class="col-sm-3">
        <h3 class="mt-3">ExerciseType</h3>
        <div class="list-group">
            @foreach (ExerciseType exerciseType in Model.ExerciseTypes)
            {

                <my-filter-link number="@Model.CurrentRoute.PageNumber" current="@Model.CurrentRoute" filter-by="@exerciseType.ExerciseTypeID">@exerciseType.Name</my-filter-link>
            }
        </div>
    </div>
    <div class="col-sm-9">
        <div class="container form-container">

            <h1>User Created Exercises:</h1>
            <vc:user-exercises user-name="@User.Identity.Name" exercise-type-id="@Model.CurrentRoute.FilterBy"></vc:user-exercises>
            <div class="list-inline">
                @foreach (Exercise exercise in Model.Exercises)
                {
                    <div class="item-link">

                        <a asp-action="Details" asp-route-id="@exercise.ExerciseId">
                            <div>
                                <img src="~/images/@exercise.Image"
                                 width=150
                                 height=150
                                 alt="@exercise.Name"
                                 title="@exercise.Name"
                                 class="img-responsive img-fluid rounded-circle"
                                 />
                            </div>
                            <div class="text-center text-wrap">@exercise.Name</div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-sm-9 offset-sm-3">

        @{
            for (int i = 1; i <= Model.TotalPages; i++)
            {
                <my-paging-link number="@i" current="@Model.CurrentRoute" />
            }
        }
    </div>
</div>